In [97]:
import pandas as pd
import numpy as np

In [98]:
purchasedatabase_df = pd.read_json("purchase_data.json")
purchasedatabase_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [99]:
purchasedatabase_df.columns

Index(['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN'], dtype='object')

In [100]:
#Player Count
playernames_SN = purchasedatabase_df['SN'].nunique()
totalplayercount = pd.DataFrame({"Total Players" : [playernames_SN]}, columns = ["Total Players"])
totalplayercount

   Total Players
0            573

In [102]:
#Purchasing Analysis - Unique Items, Avg Purchase Price, Total Number of Purchases, Total Revenue
uniqueitems = purchasedatabase_df['Item ID'].nunique()
avgprice = (purchasedatabase_df['Price'].sum()/purchasedatabase_df['Price'].count()).round(2)
totalpurchases = purchasedatabase_df['Price'].count()
totalrevenue = purchasedatabase_df["Price"].sum()

total_analysis_df = pd.DataFrame({"Number of Unique Items": [uniqueitems], 
                              "Average Purchase Price": [avgprice],
                             "Number of Purchases": [totalpurchases],
                             "Total Revenue": [totalrevenue]}, columns= ["Number of Unique Items", "Average Purchase Price",
                            "Number of Purchases", "Total Revenue"])

total_analysis_df.style.format({"Average Purchase Price": "${:.2f}", "Total Revenue": "${:.2f}"})

In [105]:
#Gender Demographics - % Male, % female, % of other
countfull = purchasedatabase_df["SN"].nunique()
countmale = purchasedatabase_df[purchasedatabase_df["Gender"] == "Male"]["SN"].nunique()
countfemale = purchasedatabase_df[purchasedatabase_df["Gender"] == "Female"]["SN"].nunique()
countother = countfull - countmale - countfemale
malepercent = ((countmale/countfull)*100)
femalepercent = ((countfemale/countfull)*100)
otherpercent = ((countother/countfull)*100)

gender_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], "Percentage of Players": [malepercent, femalepercent, otherpercent],
                                        "Total Count": [countmale, countfemale, countother]}, columns = 
                                        ["Gender", "Percentage of Players", "Total Count"])
                                        
gender_final = gender_df.set_index("Gender")
gender_final.style.format({"Percentage of Players": "{:.2f}%"})

In [107]:
#Purchase by Gender
malepurch = purchasedatabase_df[purchasedatabase_df["Gender"] == "Male"]["Price"].count()
femalepurch = purchasedatabase_df[purchasedatabase_df["Gender"] == "Female"]["Price"].count()
otherpurch = totalpurchases - malepurch - femalepurch
mpriceavg = purchasedatabase_df[purchasedatabase_df["Gender"] == "Male"]['Price'].mean()
fpriceavg = purchasedatabase_df[purchasedatabase_df["Gender"] == "Female"]['Price'].mean()
opriceavg = purchasedatabase_df[purchasedatabase_df["Gender"] == "Other / Non-Disclosed"]['Price'].mean()
mpricetot = purchasedatabase_df[purchasedatabase_df["Gender"] == "Male"]['Price'].sum()
fpricetot = purchasedatabase_df[purchasedatabase_df["Gender"] == "Female"]['Price'].sum()
opricetot = purchasedatabase_df[purchasedatabase_df["Gender"] == "Other / Non-Disclosed"]['Price'].sum()
mnorm = mpricetot/countmale
fnorm = fpricetot/countfemale
onorm = opricetot/countother

gender_purch_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], "Purchase Count": [malepurch, femalepurch, otherpurch],
                                        "Average Purchase Price": [mpriceavg, fpriceavg, opriceavg], "Total Purchase Value": [mpricetot, fpricetot, opricetot],
                                "Normalized Totals": [mnorm, fnorm, onorm]}, columns = 
                                        ["Gender", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Normalized Totals"])
                                        
gender_purch_final = gender_purch_df.set_index("Gender")
gender_purch_final.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}", "Normalized Totals": "${:.2f}"})

In [108]:
#Age Demographics
tenyears = purchasedatabase_df[purchasedatabase_df["Age"] <10]
loteens = purchasedatabase_df[(purchasedatabase_df["Age"] >=10) & (purchasedatabase_df["Age"] <=14)]
hiteens = purchasedatabase_df[(purchasedatabase_df["Age"] >=15) & (purchasedatabase_df["Age"] <=19)]
lotwent = purchasedatabase_df[(purchasedatabase_df["Age"] >=20) & (purchasedatabase_df["Age"] <=24)]
hitwent = purchasedatabase_df[(purchasedatabase_df["Age"] >=25) & (purchasedatabase_df["Age"] <=29)]
lothirt = purchasedatabase_df[(purchasedatabase_df["Age"] >=30) & (purchasedatabase_df["Age"] <=34)]
hithirt = purchasedatabase_df[(purchasedatabase_df["Age"] >=35) & (purchasedatabase_df["Age"] <=39)]
loforty = purchasedatabase_df[(purchasedatabase_df["Age"] >=40) & (purchasedatabase_df["Age"] <=44)]
hiforty = purchasedatabase_df[(purchasedatabase_df["Age"] >=45) & (purchasedatabase_df["Age"] <=49)]

age_demo_df = pd.DataFrame({"Age": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49"],
                        "Percentage of Players": [(tenyears["SN"].nunique()/countfull)*100, (loteens["SN"].nunique()/countfull)*100, (hiteens["SN"].nunique()/countfull)*100, (lotwent["SN"].nunique()/countfull)*100, (hitwent["SN"].nunique()/countfull)*100, (lothirt["SN"].nunique()/countfull)*100, (hithirt["SN"].nunique()/countfull)*100, (loforty["SN"].nunique()/countfull)*100, (hiforty["SN"].nunique()/countfull)*100],
                        "Total Count": [tenyears["SN"].nunique(), loteens["SN"].nunique(), hiteens["SN"].nunique(), lotwent["SN"].nunique(), hitwent["SN"].nunique(), lothirt["SN"].nunique(), hithirt["SN"].nunique(), loforty["SN"].nunique(), hiforty["SN"].nunique()]
                       })

age_demo_final = age_demo_df.set_index("Age")
age_demo_final.style.format({"Percentage of Players": "{:.2f}%"})

In [111]:
#Top Spenders 
sn_total_purchase = purchasedatabase_df.groupby('SN')['Price'].sum().to_frame()
sn_purchase_count = purchasedatabase_df.groupby('SN')['Price'].count().to_frame()
sn_purchase_avg = purchasedatabase_df.groupby('SN')['Price'].mean().to_frame()

sn_total_purchase.columns=["Total Purchase Value"]
join_1 = sn_total_purchase.join(sn_purchase_count, how="left")
join_1.columns=["Total Purchase Value", "Purchase Count"]

join_2 = join_1.join(sn_purchase_avg, how="inner")
join_2.columns=["Total Purchase Value", "Purchase Count", "Average Purchase Price"]

top_spenders_df = join_2[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
top_spenders_final = top_spenders_df.sort_values('Total Purchase Value', ascending=False).head()
top_spenders_final.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

In [123]:
#Most Popular Items
mergeone = purchasedatabase_df.groupby("Item Name").sum().reset_index()
mergetwo = purchasedatabase_df.groupby("Item ID").sum().reset_index()
mergethree = purchasedatabase_df.groupby("Item Name").count().reset_index()

merge1 = pd.merge(mergeone, mergetwo, on="Price")
merge2 = pd.merge(mergethree, merge1, on="Item Name")

merge2["Gender"] = (merge2["Price_y"]/merge2["Item ID"]).round(2)

merge2_rename = merge2.rename(columns={"Age": "Purchase Count", "Gender": "Item Price", "Item ID": "null", "Price_y": "Total Purchase Value", "Item ID_y": "Item ID"})

clean_df = merge2_rename[["Item ID", "Item Name", "Purchase Count", "Item Price", "Total Purchase Value"]]

final_df = clean_df.set_index(['Item Name', 'Item ID'])
popular_items_final = final_df.sort_values('Purchase Count', ascending=False).head(6)
popular_items_final.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

In [124]:
#Most Profitable

profit_items_final = prefinal_df.sort_values('Total Purchase Value', ascending=False).head()
profit_items_final.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})